{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="display-4">{{ title }}</h1>
    <ul style="list-style-type: none;" class="list-group">
        {% for post in posts %}
        <li class="list-group-item">

            <h2>
                {{ post.title }}
            </h2>
            <p>{{ post.content | truncatewords:50 }}</p>
            <a class="btn btn-primary m-1" href="{% url 'blog:post_detail' post.id %}">
                Читать далее
            </a>

            <button class="btn btn-danger m-1">
                <img src="{% static 'trash.svg' %}" alt="Eye" width="20"
                     height="20">
            </button>
            <div class="d-flex align-items-center">
                <img class="m-1" src="{% static 'eye.svg' %}" alt="Eye" width="20"
                     height="20">
                <span class="m-1">{{ post.views|default:0 }}</span>
                <img class="m-1" src="{% static 'thumbs-up.svg' %}" alt="Heart" width="20"
                     height="20">
                <span class="m-1">{{ post.likes|default:0 }}</span>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">
            <h2>No posts found</h2>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}