{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-4">{{ title }}</h1>
    <ul style="list-style-type: none;" class="list-group">
        {% for post in posts %}
        <li class="list-group-item">

            <h2>
                {{ forloop.counter }}. {{ post.title }}
            </h2>
            <a href="{% url 'blog:post_detail' post.id %}">
                <button class="btn btn-primary">View Post</button>
            </a>
        </li>
        {% empty %}
        <li class="list-group-item">
            <h2>No posts found</h2>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <h2>Create new post</h2>
    <form action="{% url 'blog:post_list' %}" class="d-flex flex-column" method="post">
        {% csrf_token %}
        <input class="m-2" type="text" name="title" placeholder="Title">
        <input class="m-2" type="text" name="content" placeholder="Content">
        <button class="btn btn-primary" type="submit">Create post</button>
    </form>
</div>
{% endblock %}