{% extends 'base.html' %}

{% load filters %}

{% block title %}Post {{ post.title|truncate_eco:40 }} | {{ site_name }}{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-secondary mb-4" href="{% url 'blog:post_list' %}">
        Back to posts
    </a>
    <article>
        <h1 class="display-5">{{ post.title }}</h1>
        <p>{{ post.content|linebreaksbr }}</p>
    </article>
    <a class="btn btn-primary" href="{% url 'blog:comments' post.id %}">
        View comments
    </a>
</div>

{% endblock %}
