{% extends 'base.html' %}

{% block title %}Comments for post {{ post.title }} | {{ site_name }}{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-secondary mb-4" href="{% url 'blog:post_detail' post_id %}">
        Back to post
    </a>

    <h1 class="display-6">Comments </h1>
    {% for comment in comments.all %}
        <div class="border-bottom py-3">
            <p class="mb-0">{{ comment.content|linebreaksbr }}</p>
        </div>

    {% empty %}
        <p>No comments found.</p>
    {% endfor %}
    {% include 'includes/pagination.html' %}

    {% if user.is_authenticated %}
    <h2 class="h4 mt-4">Create new comment</h2>
    <form action="{% url 'blog:comments' post_id %}" class="d-flex flex-column" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary align-self-start form-control" type="submit">Comment</button>
    </form>
    {% else %}
    <p class="text-center">You need to be <a href="{% url 'users:login' %}">logged in</a> to comment.</p>
    {% endif %}
</div>

{% endblock %}
