{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} | {{ site_name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 mb-4">
        <h1 class="display-5 mb-0">{{ title }}</h1>
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'blog:post_create' %}">Create post</a>
        {% endif %}
    </div>
    <ul class="list-group list-unstyled">
        {% for post in posts %}
        <li class="list-group-item">
            <p>
                {% if post.author.avatar %}
                <img src="{{ post.author.avatar.url }}" class="rounded-circle"
                     alt="Post author avatar" width="20" height="20">
                {% else %}
                <img src="{% static 'user.svg' %}" class="rounded-circle"
                     alt="Post author avatar" width="20" height="20">
                {% endif %}
                {{ post.author }} | {{ post.created_at|date }}
            </p>
            <h2 class="h4">{{ post.title }}</h2>
            {% for t in post.tags.all %}
            <span class="badge rounded-pill text-bg-info">{{ t.name }}</span>
            {% endfor %}
            {% if post.cover %}
                <img src="{{ post.cover.url }}" alt="Post cover" class="img-fluid">
            {% endif %}
            <p>{{ post.content|truncatewords:50 }}</p>
            <p>Posted {{ post.created_at|timesince }} ago.</p>
            <a class="btn btn-outline-primary" href="{% url 'blog:post_detail' post.id %}">
                Read more
            </a>
            <div class="d-flex align-items-center gap-2 mt-3 text-body-secondary">
                <img src="{% static 'eye.svg' %}" alt="" width="20" height="20">
                <span>{{ post.views|default:0 }}</span>
                <img src="{% static 'thumbs-up.svg' %}" alt="" width="20" height="20">
                <span>{{ post.likes|default:0 }}</span>
                <img src="{% static 'comment.svg' %}" alt="" width="20"
                     height="20">
                <span>{{ post.total_comments }}</span>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">
            <p class="mb-0">No posts yet.</p>
        </li>
        {% endfor %}
    </ul>
{% if posts %}
 {% include 'includes/pagination.html' %}
{% endif %}
</div>

{% endblock %}
