{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block title %}Post {{ post.title|truncate_eco:40 }} | {{ site_name }}{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-secondary mb-4" href="{% url 'blog:post_list' %}">
        Back to posts
    </a>
    <article>
        <p>
            <img class="rounded-circle shadow-1-strong me-3"
         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
         alt="avatar" width="20"
         height="20"/>
            {{ post.author }} | {{ post.created_at|date }}</p>

        <h1 class="display-5">{{ post.title }}</h1>
            {% for t in post.tags.all %}
            <span class="badge rounded-pill text-bg-info">{{ t.name }}</span>
        {% endfor %}
        <p>{{ post.content|linebreaksbr }}</p>
    </article>

    <a class="btn btn-primary" href="{% url 'blog:comments' post.id %}">
        View comments ({{ comment_data.total_comments }})
    </a>
    {% if request.user == post.author %}
    <div>
    <a class="btn btn-secondary" href="{% url 'blog:post_update' post.id %}">
        Edit
    </a>
    <form action="{% url 'blog:post_delete' post.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">
            <img src="{% static 'images/trash.svg' %}" alt="Delete">
        </button>
    </form>
    </div>
    {% endif %}
</div>

{% endblock %}
