{% load static %}
<header class="p-3 text-bg-dark">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
             aria-label="Main navigation">
            <a href="{% url 'blog:post_list' %}"
               class="d-flex align-items-center gap-2 mb-2 mb-lg-0 me-lg-4 text-white text-decoration-none">
                <img src="{% static 'globe.svg' %}" alt="" width="30" height="30">
                <span class="fs-4">{{ site_name }}</span>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'blog:post_create' %}"
                       class="nav-link px-2 text-white">
                        <img src="{% static 'add.svg' %}" alt="" width="20" height="20">
                        Create
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:post_list' %}"
                       class="nav-link px-2 text-white">Posts</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <span class="btn btn-secondary disabled" aria-disabled="true">
                    <img src="{% static 'user.svg' %}" alt="" width="20" height="20">
                    {{ user.username }}
                </span>
            {% else %}
                <span class="text-white-50 small">Guest</span>
            {% endif %}
        </nav>
    </div>
</header>
