{% load static %}
<header class="p-3 text-bg-dark">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
             aria-label="Main navigation">
            <a href="{% url 'blog:post_list' %}"
               class="d-flex align-items-center gap-2 mb-2 mb-lg-0 me-lg-4 text-white text-decoration-none">
                <img src="{% static 'globe.svg' %}" alt="" width="30" height="30">
                <span class="fs-4">{{ site_name }}</span>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'blog:post_create' %}"
                       class="nav-link px-2 text-white">
                        <img src="{% static 'add.svg' %}" alt="" width="20" height="20">
                        Create
                    </a>
                </li>
            {% endif %}
                <li>
                    <a href="{% url 'blog:post_list' %}"
                       class="nav-link px-2 text-white">Posts</a>
                </li>
                <li>
                    <a href="{% url 'blog:feedback' %}"
                       class="nav-link px-2 text-white">Feedback</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <a href="{% url 'users:profile' user.id %}"> <span
                    class="btn btn-secondary">
                    <img src="{% static 'user.svg' %}" alt="" width="20" height="20">
                    {{ user.username }}
                </span>
            </a>
                <form action="{% url 'users:logout' %}" method="post">
                <button type="submit" class="nav-link px-2 text-white">
                    {% csrf_token %}
                    <img src="{% static 'logout.svg' %}" alt="" width="20" height="20">
                    Logout
                </button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}" class="nav-link px-2 text-white">
                    Login
                </a>
                <a href="{% url 'users:register' %}" class="nav-link px-2 text-white">
                    Register
                </a>
            {% endif %}
        </nav>
    </div>
</header>
